<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pe-Cart</title>
  <link rel="stylesheet" href="/css/usercss/wishlist.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
  
  <div class="container">
    <div class="text"><h2>wishlist</h2></div>
    <div class="main">
    <div class="content">
      <% data.forEach((wishlist) => { %>
        <div class="box remove<%= wishlist._id %>">
          <div class="imageArea">
            <a href="/productdetails/<%= wishlist._id %>">
              <% if (wishlist.image && wishlist.image.length > 0) { %>
                <img src="/image/<%= wishlist.image[0] %>" alt="" width="90%" height="90%">
              <% } else { %>
                <img src="/path/to/default/image.jpg" alt="Default Image" width="90%" height="90%">
              <% } %>
            </a>
          </div>
          <div class="textarea">
            <div class="heading">
              <h1><%= wishlist.name %>hy</h1>
            </div>
            <div class="buttons">
              <!-- <button type="button">Add to cart</button> -->
              <button class="btnremove" type="button" onclick="toDelete(event, '<%=wishlist._id%>')">Remove</button>
            </div>
          </div>
        </div>
      <% }); %>
      
    </div>
  </div>
</div>
</body>
<script>
  async function toDelete(e,id){
    e.preventDefault();
    const response=await axios.delete(`/wishlist/delete/?id=${id}`)

    console.log(response,'heeeee');
    if (response.data==true) {

      Swal.fire({
  position: "top-end",
  icon: "success",
  title: "Your work has been Deleted",
  showConfirmButton: false,
  timer: 1500
});
      document.querySelector(`.remove${id}`).remove()
      }else{
        console.log('remove failed');
      }
  }
</script>
</html>